.tokenHidden {

	border-bottom: thin dotted #000000;
}

body {
	width: 500px;
	font-family: sans-serif;
	background-color: grey;
	margin: auto;
position:relative;
}

.footer{
	font-size:80%;
	background-color: #cdcdcd;
	text-align:center;
	padding: 10px;
	margin-left: 20px ;
	margin-right: 20px ;
	margin-top: 0px ;
	margin-bottom: 20px;
}


.header{
	background-color: #cdcdcd;
	padding: 10px;
	margin-left: 20px ;
	margin-right: 20px ;
	margin-top: 20px ;
	margin-bottom: 0px;
	text-align: right;
}
.content {
	text-align: center;
	background-color: white;
	padding: 20px;
	margin-left: 20px ;
	margin-right: 20px ;
	margin-top: 0px ;
	margin-bottom: 0px;
    height: 100%; 
    min-height: 100%; 
}

a {
text-decoration: none;
}

.clues {
     margin-top: 0px;
}

.clue {
	font-size: 175%;
	border: 1.5px solid black;
	background-color: #bababa;
	padding: 5px;
  border-radius: 5px;
  font-family: monospace;
box-shadow: 10px 5px 5px #dcdcdc;
}

.teksti {
	font-size: 150%;
}

.feedback {
	font-size: 125%;
}


.correct {
	color: green;
}

.incorrect {
	color: red;
}

.cb{
	border: 1.5px solid black;
	padding: 5px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 90%;
/*box-shadow: 10px 5px 5px #dcdcdc;*/
}

label > input[type="checkbox"] {
/*  display: none;*/
  margin:2pt;
}


.help{
	border: 1.5px solid black;
	padding: 5px;
  border-radius: 5px;
  font-family: monospace;
/*box-shadow: 10px 5px 5px #dcdcdc;*/
}


.thumb{
	border: 1.5px solid black;
	padding: 5px;
  border-radius: 5px;
  font-family: monospace;
/*box-shadow: 10px 5px 5px #dcdcdc;*/
}

.wordGuess{
	border: 1.5px solid black;
	background-color: #bababa;
	padding: 5px;
  border-radius: 5px;
  font-family: monospace;
box-shadow: 10px 5px 5px #dcdcdc;
}
/*********************/

.open-modal {
  font-weight: bold;
  background: white;
  color: black;
  padding: .75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.modal { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: white;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}
 
.modal-dialog {
  position: relative;
  max-width: 300px;
  max-height: 40vh;
  border-radius: 5px;
  background: white;
  overflow: auto;
  cursor: default;
}

.modal.is-visible {
  visibility: visible;
  opacity: 0.5;
}

