<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>OmniLingo</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="./static/index.css" />
  <script type="text/javascript" src="./static/languages.js"></script>
<meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
  <script type="text/javascript" src="./static/util.js"></script>
  <script type="text/javascript" src="./static/tasks/blank.js"></script>
  <script type="text/javascript" src="./static/tasks/choice.js"></script>
  <script type="text/javascript" src="./static/tasks/scramble.js"></script>
  <script type="text/javascript" src="./static/tasks/search.js"></script>
</head>

<body>
  <!-- The header -->
  <div class="header" id="header">
    <span style="float:left"><a href="https://omnilingo.github.io"><img src="https://omnilingo.xyz/logo.png" height="35px"/></a></span>
    <span style="float:right; text-align:right"><select name="languages" id="languages" onChange="changeLanguage(this)"></select></span>
  </div>
  <!-- Content -->
  <div class="content" id="content">
    <div>
      <div style="float:right">
        <label class="cb"><input onClick="updateTask(this)" type="checkbox" id="enableSearch" name="enableSearch" checked><span>Search</span></label>
        <label class="cb"><input onClick="updateTask(this)" type="checkbox" id="enableScrams" name="enableScrams" checked><span>Scramble</span></label>
        <label class="cb"><input onClick="updateTask(this)" type="checkbox" id="enableBlanks" name="enableBlanks" checked><span>Blanks</span></label>
        <label class="cb"><input onClick="updateTask(this)" type="checkbox" id="enableChoice" name="enableChoice" checked><span>Choice</span></label>
      </div>
      <div style="float:left">
      <select name="levels" id="levels" onChange="changeLevel(this)"></select>
      </div>
    </div>
    <p>&nbsp;</p>
    <div>
      <div style="float:left">
        <audio id="player" controls="controls" onended="focusGap()">
          <source id="audioSource" />
        </audio>
      </div>
      <span id="timer"><label id="minutes">00</label>:<label id="seconds">00</label><span>
      <div style="float:right">
       <input id="nextButton" type="button" onClick="window.location.reload()" value="⏭"/>
      </div>
    </div>
    <p>&nbsp;</p>
    <div style="display: inline-block">
      <div class="clues" id="clues">
    </div>
    <p/>
    <div class="teksti" id="textbox"> </div> 
    <br/>
    <p>&nbsp;</p>
    <div>
<!--      <div class="modaldiv" onClick="openModal(this)">
        <span id="help" class="open-modal" data-open="modal1" onClick="openModal(this)">?</span>
      </div>-->
      <div class="feedback" id="feedback"> </div>
      <div style="float:right; padding: 1px; margin: 1px">
        <span class="thumb" id="thumbsDown">👎️</span>
        <span class="thumb" id="thumbsUp">👍️</span> 
      </div>
    </div>
  </div>
  </div>
  <div class="footer">
<a href="https://github.com/omnilingo/omnilingo"> <img src="/static/assets/github.png" height="20px"/></a> <a href="https://commonvoice.mozilla.org/datasets"><img src="/static/assets/commonvoice.png" height="23px"/></a>
  </div>
<script type="text/javascript" src="./static/index.js"></script>
</body>
</html>
