<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>OmniLingo</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="./static/index.css" />
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/brython@3.9.0/brython.min.js">
    </script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/brython@3.9.0/brython_stdlib.min.js">
    </script>

</head>

<body onload="brython()">
<div class="header" id="header">
  <select name="languages" id="languages"></select>
</div>
<div class="content" id="content">
<div>
  <div style="float:right">
    <label class="cb"><input type="checkbox" id="enableSearch" name="enableSearch" checked><span>Search</span></label>
    <label class="cb"><input type="checkbox" id="enableScrams" name="enableScrams" checked><span>Scramble</span></label>
    <label class="cb"><input type="checkbox" id="enableBlanks" name="enableBlanks" checked><span>Blanks</span></label>
    <label class="cb"><input type="checkbox" id="enableChoice" name="enableChoice" checked><span>Choice</span></label>
  </div>
  <div style="float:left">
  <select name="levels" id="levels"></select>
  </div>
</div>
<p>&nbsp;</p>
  <div style="float:none">
  <audio id="player" controls="controls">
    <source id="audioSource" />
  </audio>
  </div>
  <div class="clues" id="clues">
  </div>
<p/>
<div class="teksti" id="textbox"> </div> 
<!--  <div id="slidecontainer">
    <input type="range" min="1" max="100" value="100" class="slider" id="hiderSlider">
  </div>-->
  <br/>
<p>&nbsp;</p>
<div>
<div style="float:left; padding: 1px; margin: 1px" id="open_modal_empty_div">
<span class="help" id="help" class="open-modal" data-open="modal1"><b>?</b></span>
</div>
<div style="float:right; padding: 1px; margin: 1px">
<span class="thumb" id="thumbsDown">👎️</span>
<span class="thumb" id="thumbsUp">👍️</span> 
</div>
  <div class="feedback" id="feedback"> </div>
</div>
</div>
<div class="footer">
<a href="https://github.com/omnilingo/omnilingo">Get the code!</a> <b>·</b> <a href="https://commonvoice.mozilla.org/datasets">Get the data!</a>
</div>
<script type="text/python" src="./static/index.py" id="__brython__"></script>
</body>
</html>
