<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="index.css" />
<script type="text/javascript" src="./static/ext/head.min.js"></script>
</head>

<body>
<div id="content">
  <input type="button" value="Another" onClick="javascript:location.reload (true)"/>	
  <p>
    <strong>Instructions:</strong> Play the recording, then click on
    the prompts (empty space) and type in what you hear.
    Once you're done typing, click anywhere outside of the prompt.
  </p>

  <audio id="player" controls="controls">
    <source id="audioSource" />
  </audio>
  <div id="textbox">
  </div>
<!--  <div id="slidecontainer">
    <input type="range" min="1" max="100" value="100" class="slider" id="hiderSlider">
  </div>-->
</div>
<script type="text/javascript" src="./static/index.js"></script>

</body>
</html>
